@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Noto Sans Mono CJK SC, Microsoft YaHei, PingFang SC, SimHei, Consolas, Monaco, monospace;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}